__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
*.pyo
*.pyd
venv/
env/
ENV/
env.bak/
venv.bak/
pythonenv*
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.code-workspace
history.json
*.log
logs/
*.pid
*.seed
*.pid.lock
tests/test_history.json
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.ipynb_checkpoints/
.pyre/
.pytype/
.prof
